data_root: data/example
deck_bank: GMLE::Bank::example
params:
  coverage: 6
  domain_cap_steps:
  - 6
  - 7
  - 8
  - 9999
  excerpt_max: 800
  excerpt_min: 200
  improve: 7
  maintain_total: 20
  new_total: 1
  rationale_quote_max: 100
  reward_cap: 3
  total: 30
sources_root: sources/example
space_id: example
